.config/balena-etcher-electron
.config/BraveSoftware
.config/cni
.config/dconf
.config/flameshot
.config/discord
.config/gconf
.config/gtk-3.0
.config/htop
.config/libvirt
.config/mimeapps.list
.config/ngrok
.config/obs-studio
.config/pavucontrol.ini
.config/spotify
.config/user-dirs.dirs
.config/user-dirs.locale
.config/weechat
.config/wireshark

