.config/cef_user_data
.config/configstore
.config/dconf
.config/Dharkael
.config/discord
.config/gtk-3.0
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/obs-studio
.config/pavucontrol.ini
.config/pulse
.config/QtProject.conf
.config/supertuxkart
.config/Typora
.config/droidcam

